@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.scrollMenu {
    animation: scrollMenu .2s linear forwards;
}

.scrollMenuClose {
    animation: scrollMenuClose .2s linear forwards;
}

@keyframes scrollMenu {
    from {
        transform: translate(0%);
    }
    to {
        transform: translate(-100%);
    }
}

@keyframes scrollMenuClose {
    to {
        transform: translate(100%);
    }
}

@layer components{
    .bold-heading-mobile{
        @apply font-inter font-bold text-[25px]
    }
    .buttonAdd{
        @apply bg-[#2E2E2E] text-white w-[90%] p-1 text-[9px]  font-inter font-[550] h-[1.5rem] rounded-lg flex items-center justify-center 
        min-[450px]:w-[100%] min-[450px]:text-[12px]
        lg:w-[70%]
        shadow-[2px_3px_1px_-1px_rgba(0,0,0,0.35);] 
    }
    .inCart{
        @apply bg-[#CCCCCC] text-black w-[90%] p-1 text-[9px] font-inter font-[550] h-[1.5rem]
         rounded-lg flex items-center justify-center
         lg:w-[70%]
         min-[450px]:w-[100%] min-[450px]:text-[12px]
         
    }
}